* {
  box-sizing: border-box;
}

body {
  font-family: Poppins,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,"apple color emoji", segoe UI;
  background: #6b6b6b;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(131, 131, 131);
}

/* Style the topnav links */
.topnav a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.right{
  float: right;
}

.left {
  float: left;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(65, 65, 65);
  color: rgb(211, 211, 211);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
}

/* Right column */
.rightcolumn {
  float: left;
  padding: 5px;
  position: relative;
  background-color: #818181;
}


.footer {
padding: 20px;
text-align: center;
background: #1a1919;
margin-top: 20px;
color: white;
}

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  


ul.animelist li .name {
  display: block;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 1em;
  width: 100%;
  position: relative;
  font-size: 17px;
}

ul.animelist .poster {
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  display: block;
}

ul.animelist {
  list-style: none;
  background-color: transparent;
  padding: 5px;
}

a {
  color: #dddddd;
  text-decoration: none;
  background-color: transparent;
}

section .title {
  background-color: #313131;
  text-align: left;
  position: relative;
  display: block;
  color: rgb(161, 161, 161);
  font-size: 15px;
  font: bold;
  margin: 0;
  padding: 0;
  border-radius: .5rem;
  overflow: hidden;
}

 .row:after {
    content: "";
    display: table;
    clear: both;
  }

  section .titlegap {
  background-color: #1b1b1b;
  text-align: left;
  position: relative;
  display: block;
  color: black;
  font-size: 15px;
  font: bold;
  margin: 0;
  padding: 0;
  border-radius: .5rem;
  overflow: hidden;
}



.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #2b2b2b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 105%;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}